{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    ["module-resolver", {
        "cwd": "babelrc",
        "extensions": [ ".js", ".ts", ".jsx", ".tsx", ".json" ],
        "root": [
          "./",
          "./logs",
          "./dist",
          "./docs",
          "./test",
          "./src"
        ]
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": [
        ["inline-dotenv", {
          "path": ".env.dev"
        }],
        "@babel/plugin-transform-runtime"
      ]
    },
    "test": {
      "plugins": [
        ["inline-dotenv", {
          "path": ".env.test"
        }],
        "@babel/plugin-transform-runtime"
      ]
    }
  }
}
